.bilet {
    margin-left: 40%;
    /* margin-top: 150px; */
    width: 800px;
    height: 100vh;
}

.ticket{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
 padding-top: 150px;
}
.ticket2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: rgb(255, 255, 255);
  
}

form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sum{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    border: none;
    outline: none;
    margin-left: 50px;
    width: 400px;
    height: 50px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5{
    margin-top: 10px;
    letter-spacing: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.knopka{
    display: flex;
    justify-content: center;
    padding-left: 10px;
    border: none;
    outline: none;
    margin-left: 50px;
    width: 400px;
    height: 40px;
    margin-top: 15px; 
    margin-bottom: 15px;
    border-radius: 50px;
    color: white;
    background-color: rgb(53, 53, 230);
}

.bank {
    color: white;
}